html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.min.css")
    
        title 名字修改
    body.backgrounds
     section.alter_name
      .name_container
       label(for="names") 姓名：
        input(type="text",placeholder="输入您的真实姓名") 
      input(type="button",value="点击确认")
      p 
       span *真实姓名将用于提现与问题处理。
       a(href="") 返回首页