html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0,target-densitydpi=device-dpi",)
        meta(http-equiv="Cache-Control" content="no-siteapp")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(http-equiv="cache-control" content="no-cache")
        meta(name="renderer" content="webkit")
        link(rel="stylesheet", href="../stylesheets/main.css")      
        script(src="../javascripts/chart.js")
        title xxxx
    body
     .guess_chart
      i.closeBtn
      .inner#inner 
         table
           thead
            tr
             td 期号
             td 值
             td 大
             td 小
             td 单
             td 双
             td 大双
             td 小双 
             td 大单
             td 小单
             td 顺子
             td 豹子
           tbody.tbody  
            
          
        





















