html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.css")      

        title 企鹅分分彩
    body
     header
      section
       span 你好！102345678912
       span 红包余额：2000
      section
       p 1254564
       span 00
      section
       div
        img(src="", alt="开始竞猜")
       div  
        img(src="", alt="开始充值")
       span 微信秒提
     memu.memu
      dl
       dt 模拟交易
       dd 奖励红包
       dd 
        img(src="", alt="模拟交易")
      dl
       dt 红包活动
       dd 可领0个
       dd 
        img(src="", alt="红包活动")      
      dl
       dt 排行榜
       dd 每小时更新
       dd 
        img(src="", alt="排行榜")
      dl
       dt 新手教程
       dd 30秒上手赚
       dd 
        img(src="", alt="新手教程")      
      dl
       dt
        img(src="", alt="抽奖攻略")              
      dl
       dt
        img(src="", alt="立即开始")          
     section
      aside
       img(src="", alt="图标")
       div
        h5 企鹅分分彩
        span 每分钟开奖
       img(src="", alt="立即竞猜") 
      p 竞猜QQ在线人数后3位。开奖结果数据来自腾讯音视频在线人数统计主页（http://qqsso.com）右上角在线人数。
       















