html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.min.css")           
        title 玩法介绍
        
    body 
     section.strategy
      .strBox
       div
        img(src="../images/zhutux1.png", alt="")
        i.strClose
        a.toRecharge(href="javascript:void(0)") 
        a.startQuiz(href="javascript:void(0)") 
    script(src="../javascripts/rem.js")

