html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.css")
        title 交易明细
    body
     header.transaction 交易明细
     section.detail
      section
       article.lately
         .pays
          section
           p.tet 总单数
           span.oranges.txt26 123
          section
           select.selected
            option(value="7天") 7天
            option(value="今天") 今天
            //- 列表开头
         .payUp.tet
          .jdates.dates 2017-10-30
           img(src="../images/dade.png", alt="")
          .payMsg
           span 16:31开奖
           span.oranges 盈利
           span 盈利:30000
            img(src="../images/right.png", alt="")
          .transaction_detail 
           aside
            span 订单号：2017101911138625891
            span 盈利率：300%
           aside
            span 竞猜：大单
            span 开盘数字：456
           aside
            span 下单金额：10元
            span 中奖金额：300%   
             //- 列表开头   
            //- 列表开头
         .payUp.tet
          .jdates.dates 2017-10-30
           img(src="../images/dade.png", alt="")
          .payMsg
           span 16:31开奖
           span.oranges 盈利
           span 盈利:30000
            img(src="../images/right.png", alt="")
          .transaction_detail 
           aside
            span 订单号：2017101911138625891
            span 盈利率：300%
           aside
            span 竞猜：大单
            span 开盘数字：456
           aside
            span 下单金额：10元
            span 中奖金额：300%  
          .payMsg
           span 16:31开奖
           span.greens 亏损
           span 盈利:30000
            img(src="../images/right.png", alt="")
          .transaction_detail   
           aside
            span 订单号：2017101911138625891
            span 盈利率：300%
           aside
            span 竞猜：大单
            span 开盘数字：456
           aside
            span 下单金额：10元
            span 中奖金额：300%                       
             //- 列表开头                   
          .btm -数据加载完毕- 
    script(src="../framework/jq/zepto.min.js")      
    script(src="../javascripts/f.js")          