html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0",)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.min.css")      
        link(rel="stylesheet", href="../framework/layer_mobile/need/layer.css")      
        title 登陆
    body
     section.login 
      .login_box
       ul
        li 手机登陆验证
         img(src="../images/ss.png", alt="")
        li
         label(for="tel")
          input#tel(type="tel",placeholder="手机号码",maxLength="11")
        li 
         label(for="cq")
          input.cq_Msg(type="tel",placeholder="验证码")
          button.cq_Btn(type="button") 获取验证码
        li
         button.login_btn(type="button",value="确认登陆") 确认登陆
       i.login_close ×
    script(src="../javascripts/filters.js")   
    script(src="../framework/layer_mobile/layer.js")   
    script(src="../javascripts/login.js")   
    script.
     logins.init();