html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0,target-densitydpi=device-dpi",)
        meta(http-equiv="Cache-Control" content="no-siteapp")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(http-equiv="cache-control" content="no-cache")
        meta(name="renderer" content="webkit")
        link(rel="stylesheet", href="../stylesheets/main.css")      
        link(rel="stylesheet", href="//at.alicdn.com/t/font_473151_zdmpzheblwvobt9.css")
        script(src="../javascripts/menu.js")
        script(src="../javascripts/my.js")
        title 企鹅分分彩
    body
     header.my_header
      .header
        .h_top
         .h_top_left
          i.iconfont
          span 充值
         .h_top_right
          i.iconfont
          span 设置
        .h_content
         img(src="", alt="")
         p 你好！150****4444
      ul.h_menu
       li
        p 充值
         i.iconfont
        span 200000.00
       li
        p 提现
         i.iconfont
        span T+0秒提现
       li
        p 劵包
         i.iconfont
        span 剩余抵用劵    
     .menu_list
      ul
       li
        i.iconfont
       li 交易明细
       li
        i.iconfont 
     .menu_list_QZ
      ul
       li
        i.iconfont
       li 常见问题
       li
        i.iconfont       


         








          
           
     
