html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.min.css")          
        title 提现
    body.huise
     section.withdrawDeposit 
      ul
       li
        img.withdrawDeposit-img(src="../images/zhifu.png", alt="")
       li
        h1 本微信号零钱包
        p 提现手续费0%，限时优惠。
       li
        img(src="../images/paydui.png", alt="")
      ul.withdrawDeposit-money
       li 到账金额
       li
        sub ￥
        input.moneys(type="number",name="money")
       li 账户金额￥0.00元
       li 
        input(type="button", value="提现")
        p 微信秒到账
     a.goIndex(href="") 返回首页    