html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.css")             
        title 我的数字账号
    body
     header.ran_header
      img.ran_headerPic(src="../images/top.png", alt="",width="100%")
      a.leftPay(href="javascript:void(0)") 充值
       img(src="../images/hongbao.png", alt="") 
      a.rightPay(href="javascript:void(0)") 竞猜
       img(src="../images/guiz.png", alt="") 
     <!--排行榜按钮-->  
     section.ran_tab
      nav
       span.sub.act 日排行
        img(src="../images/jiangbei3.png", alt="") 
       span.sub 月排行
        img(src="../images/jiangbei2.png", alt="") 
       span.sub 总排行
        img(src="../images/jiangbei.png", alt="") 
     <!--排行榜按钮 end-->     
     <!--排行榜列表 日-->   
     section.ran_list.list_day
      <!--单个数据-->
      article 
       aside
        p 冠军 用户18911111122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次
      <!--单个数据 end-->
      <!--单个数据-->  
      article 
       aside
        p 冠军 用户18911111122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次   
      <!--单个数据 end-->       
     <!--排行榜列表 end-->  

     <!--排行榜列表 月-->   
     section.ran_list.list_moon.none
      <!--单个数据-->
      article 
       aside
        p 冠军 用户189155551122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次
      <!--单个数据 end-->
      <!--单个数据-->  
      article 
       aside
        p 冠军 用户18913331122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次   
      <!--单个数据 end-->       
     <!--排行榜列表 end-->      
     <!--排行榜列表 月-->   
     section.ran_list.list_years.none
      <!--单个数据-->
      article 
       aside
        p 季军 用户189161122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次
      <!--单个数据 end-->
      <!--单个数据-->  
      article 
       aside
        p 冠军 用户18911111122
         img(src="../images/dui.png", alt="")
       aside
        span 盈利：
         i.reds 12345元
        span 下单：1235次   
      <!--单个数据 end-->       
     <!--排行榜列表 end-->  
    script(src="../javascripts/f.js")    
    script.
     ranking.init();

           