html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0,target-densitydpi=device-dpi",)
        meta(http-equiv="Cache-Control" content="no-siteapp")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(http-equiv="cache-control" content="no-cache")
        meta(name="renderer" content="webkit")
        link(rel="stylesheet", href="../stylesheets/main.css")      
        link(rel="stylesheet", href="//at.alicdn.com/t/font_473151_7w40uuuj23boi529.css")
        script(src="../javascripts/menu.js")
        script(src="../javascripts/my.js")
        title 缤乐堂
    body.back
     header.my_header
      .header
        .h_top
         .h_top_left
          i.iconfont
          span 充值
         .h_top_right
          i.iconfont 
          span 设置
        .h_content
         img(src="../images/tou.png", alt="")
         p 你好！150****4444
      ul.h_menu
       li
        p
         i.iconfont
         | 充值
        span 200000.00
       li
        p 
         i.iconfont
         | 提现
        span T+0秒提现
       li
        p 
         i.iconfont
         | 劵包
        span 剩余抵用劵    
     .menu_list
      ul
       li
        i.iconfont
       li 交易明细
       li
        i.iconfont.hrefs 
      ul
       li
        i.iconfont
       li 资金明细
       li
        i.iconfont.hrefs 
      ul
       li
        i.iconfont
       li 抽奖明细
       li
        i.iconfont.hrefs                 
     .menu_list_QZ
      ul
       li
        i.iconfont
       li 常见问题
       li 交易问题
        i.iconfont.hrefs  
      ul
       li
        i.iconfont
       li 联系客服
       li
        i.iconfont.hrefs         
        

         








          
           
     
