html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.css")
        title Document
    body
     .open_pay
       .open_pay_ten
         img(src="../images/XINSHOU2.png", alt="")
         i.iconfont
         .openStart
