html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../stylesheets/main.css")        
        title 常见问题
    body
     section
      img.faqPic(src="../images/faq_view.png", alt="",width="100%")
      p.faq_text 根据账户余额输入提现金额，点击确认提现即可提交提现申请。红包不能提现，只能用于抵扣下单。首次提现需要绑定银行卡或支付宝账号。
      nav.nav_fooer
       a(href="javascript:void(0)") 联系客服 &gt;
       a(href="javascript:void(0)") 立即竞猜 &gt;