@charset "UTF-8";
/*! Vendor*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! Helpers*/
/*常用颜色*/
/*！layout 布局*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*清除UC默认*/
* {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="select"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="reset"],
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  font-family: "Microsoft YaHei";
  font-size: 100%;
  font-size: 16px;
  width: 100%;
  height: auto;
  user-select: none;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
}

html i,
html em,
html b,
html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  display: flex;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
  overflow: hidden;
}

.containers {
  width: 100%;
  *zoom: 1;
  display: flex;
}
.containers:before, .containers:after {
  content: "";
  display: table;
}
.containers:after {
  clear: both;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #555;
}
a:active {
  color: #dedede;
}

button,
input[type=button] {
  outline: none;
  border: none;
  cursor: pointer;
}

.scale {
  transform: scale(0) !important;
}

.none {
  display: none;
}

/*! Component 组件*/
.wxpay {
  background: #439057 !important;
  padding-top: 0.75rem;
  height: 100%;
}

.wx_header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0 0.75rem 0;
  padding: 0.4375rem;
  background: #fbfbfb;
  display: flex;
}
.wx_header .wxIcon {
  background: url(../images/weixinlogo.png) no-repeat;
  background-size: cover;
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
}
.wx_header span {
  font-size: 0.4375rem;
  line-height: 1rem;
  color: #439057;
  padding-left: 0.3125rem;
}

.wx_content {
  background: #ffffff;
  margin: 0 0.75rem;
  padding: 0.625rem;
}
.wx_content .wx_content_cq {
  border-bottom: 1px solid #ccc;
}
.wx_content .wx_content_cq .wx_btn {
  display: flex;
  flex-direction: column;
}
.wx_content .wx_content_cq .wx_btn button {
  padding: 0.1875rem 0.5rem;
  margin: 0.0625rem;
  background: #439057;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
.wx_content .wx_content_cq #wx_cq {
  position: relative;
  top: 0;
  left: 0;
  height: 6.25rem;
  width: 6.25rem;
  margin: 0 auto;
  padding: 0.625rem;
}
.wx_content .wx_content_cq #wx_cq img {
  width: 100%;
}
.wx_content .wx_content_cq #wx_cq .wx_mb {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}
.wx_content .wx_content_cq #wx_cq .wx_mb .reload {
  padding: 0.3125rem 0.625rem;
  transform: translate(2.125rem, 2.125rem);
  background: #439057;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
.wx_content .wx_content_cq .wx_text {
  height: 3.125rem;
  width: 6.25rem;
  margin: 0 auto;
  padding: 0.625rem 0;
  display: flex;
}
.wx_content .wx_content_cq .wx_text i {
  background: url(../images/ydd.png) no-repeat;
  background-size: contain;
  display: block;
  width: 0.3125rem;
  margin-top: 8px;
}
.wx_content .wx_content_cq .wx_text .wx_text_centent {
  display: flex;
  flex-direction: column;
}
.wx_content .wx_content_cq .wx_text .wx_text_centent span {
  font-size: 0.375rem;
  line-height: 0.6875rem;
  text-indent: 0.625rem;
  color: #439057;
}
.wx_content .wx_content_cq .wx_text .wx_text_centent span:nth-child(1) {
  color: orange;
}

.wx_footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0 0.75rem 0.75rem;
  padding: 0 0.6875rem 0.625rem;
  background: #ffffff;
  display: flex;
}
.wx_footer i {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background: url(../images/qb.png) no-repeat;
  background-size: contain;
}
.wx_footer span {
  display: block;
  font-size: 0.21875rem;
  line-height: 0.75rem;
  text-indent: 0.625rem;
  color: #686868;
}
