@charset "UTF-8"; //交易流水
section {
    .nav_header {
        // border: 1px solid red;
        @include height(40px);
        display: flex;
        background: #f2f2f2;
        >span {
            flex: 1;
            text-align: center;
            &.active {
                background: rgb(10, 33, 101);
                color: #f2f2f2;
            }
        }
    }
    section {
        // border: 1px solid red;
        .lately {
            ul {
                text-align: center;
                display: flex;
                @extend .borders;
                li {
                    // border: 1px solid blue;
                    flex: 1;
                    padding: 10px 0;
                    line-height: 1.2;
                    >span {
                        font-size: 18px;
                    }
                    .selected {
                        @extend .selecteds;
                    }
                }
            }
            .payUp {
                // border: 1px solid red;
                .dates {
                    @extend .borders;
                    @extend .h30;
                    img {
                        height: 20px;
                        width: 20px;
                        vertical-align: middle; // outline: 1px solid red;
                        float: left;
                        margin-top: 10px;
                    }
                }
                .payMsg {
                    @extend .borders;
                    @extend .h30;
                    display: flex;
                    >span {
                        flex: 1;
                        &:nth-last-child(1) {
                            text-align: right;
                        }
                    }
                }
                .btm {
                    @extend .h30;
                    text-align: center;
                }
            }
            .pays {
                display: flex;
                padding: 10px 0;
                @extend .borders;
                >section {
                    flex: 1;
                    padding: 0 20px;
                    >span {
                        font-size: 18px;
                    }
                    .selected {
                        @extend .selecteds;
                    }
                }
            }
        }
    }
}

.borders {
    border-bottom: 1px solid #ccc;
}

.h30 {
    @include height(40px);
    padding: 0 20px;
}

.selecteds {
    outline: none;
    height: 30px;
    width: 80px;
    border-radius: 30px;
    padding: 0 10px;
    margin-top: 5px;
}

.none {
    display: none;
} //交易明细
.transaction {
    background: rgb(10, 33, 101);
    @include height(40px);
    text-align: center;
    color: #f2f2f2;
}

.tet {
    font-size: 14px;
}

.oranges {
    color: #f1690d;
}

.greens {
    color: #65bd1d;
}

.txt26 {
    font-size: 26px !important;
}

.detail {
    .payUp {
        .jdates {
            height: 25px !important;
            line-height: 25px !important;
            padding: 0 20px;
            background: #f3f3f3;
            img {
                margin-top: 2px !important;
            }
        }
        .payMsg {
            span {
                img {
                    width: 10px;
                    margin-left: 10px;
                }
            }
        }
        .transaction_detail {
            font-size: 0.8rem;
            padding: 20px;
            @extend .borders;
            display: none;
            aside {
                display: flex;
                span {
                    line-height: 1.2;
                    &:nth-child(1) {
                        flex: 1;
                    }
                }
            }
        }
    }
} //小箭头
.transform90 {
    transform: rotate(90deg);
} //FAQ
.nav_fooer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #5432ce;
    }
}

section {
    .faqPic {
        @extend .padd5;
    }
}

.faq_text {
    padding: 20px;
} //排行榜
.ran_header {
    @include clearfix;
}

.ran_headerPic {
    @extend .padd5;
}

.leftPay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #eecc82;
    font-size: rem(14);
    img {
        float: left;
        vertical-align: middle;
        width: rem(14);
    }
}

.rightPay {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eecc82;
    font-size: rem(14);
    img {
        float: left;
        vertical-align: middle;
        width: rem(14);
    }
}

.ran_tab {
    padding: 0 3px;
    nav {
        display: flex;
        span {
            flex: 1;
            @extend .bordery;
            margin: 2px;
            padding: rem(18) 0 rem(18) rem(15);
            img {
                width: rem(15);
                float: left;
            }
        }
    }
}

.ran_list {
    @extend .padd5;
    article {
        @extend .bordery;
        display: flex;
        flex-direction: column;
        padding: rem(12);
        font-size: rem(14);
        margin-bottom: rem(3);
        aside {
            img {
                width: rem(15);
                float: left;
                margin-right: 5px;
            }
            &:nth-child(2) {
                text-indent: 20px;
                padding-top: 6px;
            }
            span {
                &:nth-child(2) {
                    float: right;
                    color: rgb(105, 105, 105);
                }
            }
        }
    }
}

.padd5 {
    padding: 5px;
}

.bordery {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.act {
    color: #e67812;
    background: rgb(49, 10, 101);
}

.reds {
    color: red;
} //宝箱抽奖
.centerPay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    color: #fff; // border: 1px solid red;
    width: 100%;
    height: auto;
    padding-top: rem(40);
    .lotteryBtn {
        width: rem(100);
        margin: auto;
    }
    >span {
        text-align: center;
        font-size: rem(40);
    }
    >p {
        margin: auto;
        font-size: rem(12);
    }
} //抽奖记录
.tit {
    margin: 5px;
    font-size: rem(12);
}

.backgrounds {
    background: #fafafa !important;
}

.drawRecordList {
    border: 1px solid rgb(228, 227, 227);
    background: #fff;
    font-size: rem(14);
    display: flex;
    margin: 2px 5px;
    padding: 10px;
    span {
        flex: 1;
        text-align: center;
    }
}

.openBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.671);
    section {
        position: relative;
        width: rem(257);
        height: rem(230);
        background: url(../images/choujbj.png) no-repeat;
        background-size: contain;
        margin: rem(75) auto 0;
        .boxList {
            // border: 1px solid blue;
            padding-top: rem(85);
            width: rem(203);
            margin-left: rem(26);
            li {
                // border: 1px solid red;
                @include span(4);
                height: rem(48);
                background: url(../images/bao1.png) no-repeat;
                background-size: contain;
                background-position-x: 9px;
                &.open {
                    background: url(../images/bao2.png) no-repeat;
                    background-size: contain;
                    background-position-x: 9px;
                }
            }
        }
        p {
            width: rem(200);
            text-align: center;
            margin: rem(110) auto;
            border: 1px solid #882e2e;
            line-height: rem(18);
            font-size: 14px;
            border-radius: 10px;
            background: brown;
            color: antiquewhite;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            height: rem(25);
            width: rem(25);
        }
    }
} //攻略
.strategy {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 15% auto 0;
    background: rgba(0, 0, 0, 0.77);
    .strBox {
        position: absolute;
        img {
            width: 100%;
            height: auto;
        }
        .strClose {
            @extend %btnQuiz;
            width: rem(40);
            height: rem(40);
            top: rem(7);
            right: 0;
        }
        .toRecharge {
            @extend %btnQuiz;
            bottom: rem(110);
            right: rem(15);
            padding: rem(30) rem(70);
        }
        .startQuiz {
            @extend %btnQuiz;
            bottom: 0;
            right: rem(15);
            padding: rem(20) rem(70);
        }
    }
}

.introduce {
    // border: 1px solid red;
    position: absolute;
    top: rem(190);
    @include span(10);
    right: 7%;
    font-size: rem(14);
    color: aliceblue;
    height: rem(200);
    overflow-y: scroll;
    .introduce_text {
        line-height: 1.2;
        letter-spacing: 1px;
    }
    .introduceImg {
        padding: 5px 0;
    }
    .table_list {
        ul {
            display: flex;
            li {
                color: #fff;
                outline: 1px solid rgb(122, 122, 122);
                padding: 4px;
                &:nth-child(2) {
                    @extend %wwbw;
                    flex: 1;
                }
                @include span(2);
                margin-bottom: 5px;
                letter-spacing:1px;
            }
        }
    }
}

.okImg {
    margin: -60px auto;
    width: rem(200) !important;
    display: block;
}

%wwbw {
    @include span(8);
    word-wrap: break-word
}

%btnQuiz {
    // border: 1px solid red;
    display: block;
    position: absolute;
}