body {
    margin-bottom: 55px; // background: url(../images/322.jpg);
    // background-size: contain;
    background: #f9f9f9;
}

.openAminates {
    position: fixed;
    overflow: hidden; // background: rgb(241, 66, 66);
    width: 100%;
    height: auto;
    height: 100%;
    color: #111;
    top: 0;
    left: 0;
    z-index: 88;
    .openAminatesList{
        li {
            height: 100%;
            &:nth-child(1) {
                background: rgba(0, 0, 0, 0.692) url(../images/huanying.png)no-repeat;
                background-size: contain;
                background-position: 10%;
            }
            &:nth-child(2) {
                position: relative;
                background: #111 url(../images/22.png)no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:nth-child(3) {
                background: #111 url(../images/4.png)no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:nth-child(4) {
                background: #111 url(../images/yuce.png)no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:nth-child(5) {
                background: #111 url(../images/yem5.png)no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:nth-child(6) {
                background: #111 url(../images/huojiang.png)no-repeat;
                background-size: contain;
                background-position: center;
            }
            &:nth-child(7) {
                background: rgba(0, 0, 0, 0.692) url(../images/418546044440086156.png)no-repeat;
                background-size: contain;
                background-position: 10%;
            }
            &:nth-child(8) {
                position: relative;
                background: rgb(35, 24, 77) url(../images/ditu.png)no-repeat;
                background-size: contain;
            }
        }
    }
}

.home_header {
    margin: 5px 5px 10px;
    margin-bottom: 0px;
    background: rgb(1, 28, 170) url(../images/444.png)no-repeat;
    box-shadow: inset 0px 0px 147px 0px rgba(0, 12, 110, 0.6);
    background-size: 30%;
    background-position-x: right;
    background-position-y: bottom;
    @include clearfix;
    border-radius: 5px;
    height: rem(165);
    section {
        padding: rem(10);
        display: flex;
        justify-content: space-between;
        span {
            font-size: rem(12);
            color: #f1ded2;
        }
        .home_money {
            padding: rem(20) rem(20) 0; // @include outline;
            background: url(../images/zhanghuyuer.png)no-repeat; // background-size: rem(200);
            background-size: contain;
            background-position: center;
            @include span(7.5);
            margin-left: 8%;
            height: rem(60); // background-position: rem(47) rem(13);
            color: aliceblue;
            text-align: center;
            .m_int {
                font-size: rem(22);
                font-weight: 600;
                color: #ffffff;
                font-style: oblique;
                padding: .5rem .2rem 0 2rem;
                display: inline-block;
            }
            .m_float {
                padding-left: .2rem;
            }
        }
        &:nth-child(2) {
            padding-bottom: 0;
        }
        &.home_btn {
            padding: rem(5) 0;
            .m_pay {
                // @include outline;
                @include span(8);
                padding-right: 2.83333%;
                img {
                    float: right;
                }
            }
            .m_play {
                // @include outline;
                @include span(12);
            }
        }
    }
    .home_wx_draw_money {
        color: #fff;
        font-size: 12px;
        float: right;
        padding: 0 10px 0px;
    }
}

.home_content {
    @include clearfix;
    dl {
        margin: 1.6%;
        @include span(5.6);
        border: 1px solid rgb(255, 255, 255);
        background: #fff;
        box-shadow: 0 0 7px 1px rgb(228, 228, 228);
        border-radius: 5px;
        padding: rem(10) 0 rem(10) rem(10);
        dt {
            // @include outline(blue);
            width: rem(40);
            height: rem(40);
            display: inline-block;
            float: left;
            img {
                width: 100%;
            }
        }
        dd {
            // @include outline;
            float: left;
            width: 60%;
            font-size: 12px;
            margin-left: 10px;
            line-height: 20px;
            &:nth-child(2) {
                font-size: 16px;
                font-weight: 600;
            }
            &:nth-child(3) {
                color: rgb(150, 150, 150);
            }
        }
    }
    #playBtn {
        padding: 5px;
        width: 100%;
    }
}

.home_footer {
    // @include outline;
    background: #fff;
    box-shadow: 0 0 7px 1px rgb(228, 228, 228);
    border-radius: 5px;
    margin: 2%;
    padding: 3%;
    aside {
        display: flex;
        .m_footer_img {
            width: rem(65);
            img {
                width: 100%;
            }
        }
        .m_footer_txt {
            img {
                width: 130;
            }
            margin: auto 10px;
            flex: 1;
            h5 {
                font-size: rem(16);
                padding-bottom: 5px;
            }
            span {
                color: #8f8f8f;
                font-size: rem(12);
                @extend %_text;
            }
        }
        .ljjc {
            margin-right: 0;
        }
    }
    .p_txt {
        @extend %_text;
        padding-top: 10px;
        line-height: 16px;
    }
}

%_text {
    color: #8f8f8f;
    font-size: rem(12);
}

.bottom_menu {
    background: #0a2164;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: rem(50);
    ul {
        display: flex;
        color: #fff;
        li {
            text-align: center;
            height: 100%;
            flex: 1;
            padding-top: 5px; // @include outline;
            i {
                font-size: rem(21);
                line-height: 25px;
            }
            p {
                line-height: 20px;
                font-size: rem(12);
            }
        }
    }
}