.hbbox {
    width: 19rem;
    height: 19rem;
    position: relative;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* background: url(../imgs/lotteryContent.png)no-repeat;
    background-size: contain; */
    
}

.hbbox .outer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.hbbox .outer img {
    width: 100%;
    height: auto;
    /* padding: 1.5rem; */
}

.hbbox .inner {
    position: relative;
    width: 3.4rem;
    height: 7rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    background-image: url(../images/lotteryBtn.png);
    background-size: auto 5rem;
    background-repeat: no-repeat;
}

.hbbox .inner.start:active {
    -webkit-transform: translate(-50%, -50%) scale(.95);
    -moz-transform: translate(-50%, -50%) scale(.95);
    -ms-transform: translate(-50%, -50%) scale(.95);
    -o-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-50%, -50%) scale(.95);
}

.hbbox .inner.start {
    background-position: 0 0;
}

.hbbox .inner.no-start {
    background-position: -5rem 0;
}

.hbbox .inner.completed {
    background-position: -10rem 0;
}

.textp {
    position: absolute;
    bottom: 2rem;
    left: 32%;
    color: #ffffff;
    font-size: .8rem;
}

.textp span {
    color: #e7b75f;
    text-align: center;
}

.redBox{
    position: absolute;
    background: rgba(49, 49, 49, 0.6) url(../images/hb.png) no-repeat;
    background-size: 70%;
    background-position: 50% 35%;
    width: 100%;
    height: 100%;
    z-index: 1;

    
}
.redBox .redBox-m{
    // transform: translateY(14rem);
    padding-top: 75%;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
}
#goQuiz{
    margin: auto;
    display: block;
    // transform: translateY(19rem);
    padding-top: 30%;
}
.hbnone{
    /* display: none; */
    transform: scale(0);
}