.bottom_menu {
    background: #0a2164;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: rem(50);
    z-index: 1998;
    ul {
        display: flex;
        color: #fff;
        li {
            text-align: center;
            height: 100%;
            flex: 1;
            padding-top: rem(5); // @include outline;
            i {
                font-size: rem(21);
                line-height: rem(25);
            }
            p {
                line-height: rem(20);
                font-size: rem(12);
            }
        }
    }
}