.menu-pal {
    dt {
        font-size: rem(12);
        img {
            width: 10px;
            float: left;
            margin-right: 5px;
        }
    }
    dd {
        ul {
            display: flex;
            padding: 10px 20px;
            margin: 10px 0;
            background: #f7f7f7;
            li {
                flex: 1;
                margin: auto;
                line-height: 30px;
                
                >img {
                    width: 30px;
                    float: left;
                    margin-right: 10px;
                }
                label {
                    // background: #000000;
                    line-height: 20px;
                    font-weight: 600;
                    color: rgb(35, 172, 252);
                    border: 1px solid rgb(35, 172, 252);
                    border-radius: 20px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    text-align: center;
                    float: right;
                    input {
                        display: none;
                    }
                }
            }
        }
    }
}

.menu-m {
    dt {
        font-size: rem(12);
        img {
            width: 10px;
            float: left;
            margin-right: 5px;
        }
        span{
            color: #aaaaaa;
            margin-left: 10px;
        }
    }
    dd {
        .money {
            margin: 5px 0;
            padding: 10px 0;
            li {
                @include span(3.6);
                margin: 5px;
                height: 50px;
                font-size: rem(24);
                line-height: rem(50);
                text-align: center;
                border: 1px solid rgb(158, 158, 158);
                border-radius: 5px;
                color: rgb(110, 110, 110);
            }
            @include clearfix;
            border-bottom: 1px solid rgb(185, 185, 185);
            border-top: 1px solid rgb(185, 185, 185);
        }
    }
}

.play-btn {
    padding: 10px 0;
    dt {
        img {
            @include span(12);
            display: block;
          
        }
        @include clearfix;
    }
    dd{
        font-size: rem(12);
        color: rgb(175, 175, 175);
        margin: 10px;
    }
}

.playbody {
    padding: 10px;
}