.wd_header {
    padding: 0 rem(20);
    background: #f5f5f5;
    .wd_box {
        height: rem(45);
        line-height: rem(45);
        border-bottom: 1px solid #d9d9d9;
        h5 {
            font-weight: 600;
            .wd_list {
                font-weight: 500;
                color: #ff4445;
                float: right;
                i {
                    transform-origin: rem(5);
                    transform: rotate(0deg);
                    width: rem(16);
                    height: rem(15);
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../images/2.png) no-repeat;
                    background-size: contain;
                    margin-left: rem(5);
                    transition: .2s;
                }
            }
        }
    }
    .wd_text {
        font-size: rem(16);
        line-height: rem(16);
        display:none;
        .wd_text_h {
            margin-top: rem(14);
            line-height: rem(20);
        }
        .wd_text_c {
            padding-bottom: rem(14);
            display: flex;
            border-bottom: 1px solid #d9d9d9;
            span {
                flex: 1;
            }
        }
        .wd_text_b {
            padding: rem(14) 0;
            border-bottom: 1px solid #d9d9d9;
            p {
                color: #757575;
                font-size: rem(12);
            }
        }
    }
}

.wd_centent {
    padding: rem(20);
    border-bottom: 1px solid #d9d9d9;
    .wd_glass {
        display: flex;
        .wd_img {
            width: rem(200);
            height: rem(140);
        }
        .wd_img_text {
            width:rem(150);
            padding-left:rem(16);
            h1 {
                font-size: rem(18);
                font-weight: 600;
                line-height: rem(22);
            }
            h2 {
                font-size: rem(16);
                line-height:rem(22);
            }
            h3{
                padding-bottom: rem(45);
                font-size: rem(14);
            }
            span {
                i {
                    color: #53ADFE;
                }
                &.blue {
                    color: #53ADFE;
                }
            }
            button{
                @include height(rem(45));
                width: 100px;
                border-radius: rem(15);
            }
            .button{
                background: rgb(247, 186, 64);
                color: #ffffff;

            }
            .disabled{
                background: #cccccc;
            }
        }
    }
}