.wxpay {
    background: #439057 !important;
    padding-top: rem(12);
    height: 100%;
}

.wx_header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0 rem(12) 0;
    padding: rem(7);
    background: #fbfbfb;
    display: flex;
    .wxIcon {
        background: url(../images/weixinlogo.png)no-repeat;
        background-size: cover;
        display: block;
        width: rem(15);
        height: rem(15);
    }
    span {
        font-size: rem(7);
        line-height: rem(16);
        color: #439057;
        padding-left: rem(5);
    }
}

.wx_content {
    background: #ffffff;
    margin: 0 rem(12);
    padding: rem(10);
    .wx_content_cq {
    border-bottom: 1px solid #ccc;
        .wx_btn{
            display: flex;
            flex-direction: column;
            button{
                padding: rem(3) rem(8);
                margin: rem(1);
                background: #439057;
                color: #fff;
                border-radius: 5px;
                border:1px solid #dbdbdb;
                
            }
        }
        #wx_cq {
            position: relative;
            top: 0;
            left: 0;
            height: rem(100);
            width: rem(100);
            margin: 0 auto; 
            padding: rem(10);
            // border: 1px solid;
            // border-image: linear-gradient( rgb(153, 153, 153), #ffffff, rgb(153, 153, 153)) 60;
            img {
                width: 100%;
            }
            .wx_mb{ 
                display: none;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($color: #ffffff, $alpha: .8);
                .reload{
                    padding: rem(5) rem(10);
                    transform: translate(rem(34),rem(34));
                    background: #439057;
                    color: #fff;
                    border-radius: 5px;
                    border:1px solid #dbdbdb;
                }
            }
        }
        .wx_text {
            height: rem(50);
            width: rem(100);
            margin: 0 auto;
            padding: rem(10) 0;
            display: flex;
            i {
                background: url(../images/ydd.png)no-repeat;
                background-size: contain;
                display: block;
                width: rem(5);
                margin-top: 8px;
            }
            .wx_text_centent {
                display: flex;
                flex-direction: column;
                span {
                    font-size: rem(6);
                    line-height: rem(11);
                    text-indent: rem(10);
                    color: #439057;
                    &:nth-child(1) {
                        color: orange;
                    }
                }
            }
        }
    }
}

.wx_footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 rem(12) rem(12);
    padding: 0 rem(11) rem(10);
    background: #ffffff;
    display: flex;
    i{
        display: block;
        width:rem(12);
        height:rem(12);
        background: url(../images/qb.png)no-repeat;
        background-size: contain;
    }
    span{
        display: block;
        font-size: rem(3.5);
        line-height: rem(12);
        text-indent: rem(10);
        color: rgb(104, 104, 104);
    }
}